@font-face {
  font-family: myfont;
  src: url(GameOfSquids.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myfont;
  color: #fff;
  text-decoration: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  gap: 50px;
  
}

.click {
  font-family: myfont;
  top:85%;
  left:50%;
  transform: translate(-50%, -50%);
  bottom:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  min-width: 80vw;
  padding: 2em;
  position: absolute;
}

span {
  
  font-size: 5vmin;
  animation:blink 2s linear infinite;
}

@keyframes blink{
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}