@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  gap: 50px;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  position: relative;
  background: #fff;
  color: #fff;
  text-decoration: none;
  font-size: 5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  width: 300px;
  text-align: center;
}

a:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px  var(--clr);
}

a:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
}

a span {
  position: relative;
  z-index: 1;
}

a i {
  position: absolute;
  inset: 0;
  display: block;
}

a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

a:hover i::before {
  width: 20px;
  left: 20%;
}

a i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

a:hover i::after {
  width: 20px;
  left: 80%;
}
