@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
  font-family: myfont;
  src: url(GameOfSquids.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  gap: 50px;
  
}

.click {
  font-family: myfont;
  top:85%;
  left:50%;
  transform: translate(-50%, -50%);
  bottom:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:50px;
  position: absolute;
}
span {
  font-size: 50px;
  font-family: myfont;
  text-transform: uppercase;
  animation:blink 2s linear infinite;
  color:#fff
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1}
  
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.face:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.2em;
  box-shadow: 0 0 35px  var(--clr);
}