@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  gap: 50px;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pick {
  position: relative;
  background: #fff;
  color: #fff;
  text-decoration: none;
  font-size: 5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  width: 300px;
  text-align: center;
}

.pick:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.2em;
  box-shadow: 0 0 35px  var(--clr);
}

.pick:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
}

.pick span {
  position: relative;
  z-index: 1;
}

.pick i {
  position: absolute;
  inset: 0;
  display: block;
}

.pick i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.pick:hover i::before {
  width: 20px;
  left: 20%;
}

.pick i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: linear-gradient(45deg, #252A34, #384051, #536179);
  background-size: 300% 300%;
  animation: color 10s infinite;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.pick:hover i::after {
  width: 20px;
  left: 80%;
}

footer {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    bottom: 0;
    padding: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: linear-gradient(to top, #252A34, #384051, #536179);
    text-align: center;
    justify-content: center;
}

footer span {
    font-size: 1rem;
    margin: 0 50px;
    transition: color 0.5s ease-in-out;
}

#F:hover {
    color: pink;
}

footer span:hover {
    color: #08D9D6;
}

.link {
    text-decoration: none;
}

@media (max-width: 1150px) {
    footer span {
        margin: auto 30px; 
    }
}

@media (max-width: 950px) {
    footer span {
        margin: auto 10px; 
    }
}

@media (max-width: 800px) {
    footer {
        display: none;
    }
}