@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: myfont;
    src: url(GameOfSquids.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #252A34, #384051, #536179);
    background-size: 300% 300%;
    animation: color 10s infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 10px;
    padding: 0.5rem;
    border-radius: 20px;
}

.img-fluid {
    max-width: 40px;
}

.title {
    color: #000;
    font-family: myfont;
    transition: 0.3s color;
}

.title:hover {
    color: #FF2E63;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FF2E63;
    text-decoration: none;
    color: #fff;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    top: 0;
}

.button::before,
.button::after {
    content: "User";
    position: absolute;
    width: 100%;
    transition: top 0.3s;
}

.button:hover::after {
    top: -30px;
}

.button::before {
    content: "Logout";
    top: 100%;
}

.button:hover::before {
    top: 2px;
}

.button:hover {
    background-color: #08D9D6;
    color: #000;
}

.navbar-toggler, .btn-close {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #000;
    position: relative;
    font-family: 'Poppins';
    transition: 0.3s font-weight;
}

.nav-link:hover {
    font-weight: bold;
}

.offcanvas-title {
    color: #000;
    font-family: myfont;
}

@media (min-width: 990px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

.turn-container {
    min-width: 300px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.turn-container .turn-box {
    padding: 10px;
    border: 3px solid #000;
    font-size: 1.2rem;
}

.turn-container .turn-box:nth-child(odd) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 55px;
    background-color: #FF2E63;
    z-index: -1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(60px, 1fr));
    grid-template-rows: repeat(5, minmax(60px, 1fr));
    grid-gap: 5px;
    margin: 20px;
}

.cell {
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #252A34, #384051, #536179);
    background-size: 300% 300%;
    animation: color 10s infinite;
    z-index: 10;
}

.cell::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 180%;
    transform: rotate(45deg);
    display: none;
    z-index: -1;
}

.cell:hover::before {
    display: flex;
    animation: rotate 2s linear infinite;
    background-color: #FF2E63;
}

.cell::after {
    position: absolute;
    content: "";
    inset: 2px;
    background: linear-gradient(45deg, #252A34, #384051, #536179);
    background-size: 300% 300%;
    animation: color 10s infinite;
    border-radius: 8px;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.winner {
    background: #08D9D6;
}